<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginadmin</servlet-name>
        <servlet-class>controller.loginadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAdmin</servlet-name>
        <servlet-class>controller.listAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAdmin</servlet-name>
        <servlet-class>controller.createAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGOUT</servlet-name>
        <servlet-class>controller.LOGOUT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProducts</servlet-name>
        <servlet-class>controller.InsertProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsServlet</servlet-name>
        <servlet-class>controller.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCbbServlet</servlet-name>
        <servlet-class>controller.ShowCbbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBrand</servlet-name>
        <servlet-class>controller.InsertBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBrandServlet</servlet-name>
        <servlet-class>controller.ShowBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>controller.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductsServlet</servlet-name>
        <servlet-class>controller.DetailProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBrandServlet</servlet-name>
        <servlet-class>controller.DetailBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategory</servlet-name>
        <servlet-class>controller.InsertCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCate</servlet-name>
        <servlet-class>controller.createCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportByBrand</servlet-name>
        <servlet-class>controller.AdminReportByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowFeedback</servlet-name>
        <servlet-class>controller.AdminShowFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmailServlet</servlet-name>
        <servlet-class>controller.getEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>controller.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportByCategory</servlet-name>
        <servlet-class>controller.AdminReportByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCustomer</servlet-name>
        <servlet-class>controller.loginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCUSTOMER</servlet-name>
        <servlet-class>controller.createCUSTOMER</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginadmin</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAdmin</servlet-name>
        <url-pattern>/listAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAdmin</servlet-name>
        <url-pattern>/createAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGOUT</servlet-name>
        <url-pattern>/LOGOUT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProducts</servlet-name>
        <url-pattern>/InsertProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsServlet</servlet-name>
        <url-pattern>/ShowProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCbbServlet</servlet-name>
        <url-pattern>/ShowCbbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBrand</servlet-name>
        <url-pattern>/InsertBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBrandServlet</servlet-name>
        <url-pattern>/ShowBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/UpdateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductsServlet</servlet-name>
        <url-pattern>/DetailProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBrandServlet</servlet-name>
        <url-pattern>/DetailBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategory</servlet-name>
        <url-pattern>/InsertCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCate</servlet-name>
        <url-pattern>/createCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportByBrand</servlet-name>
        <url-pattern>/AdminReportByBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowFeedback</servlet-name>
        <url-pattern>/AdminShowFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmailServlet</servlet-name>
        <url-pattern>/getEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportByCategory</servlet-name>
        <url-pattern>/AdminReportByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCustomer</servlet-name>
        <url-pattern>/loginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCUSTOMER</servlet-name>
        <url-pattern>/createCUSTOMER</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
